.swiper-button-prev,
.swiper-button-next {
    flex-shrink: 0;
}

.swiper-button-prev svg,
.swiper-button-next svg {
    width: 35%;
}

.button-next-fa,
.button-prev-fa {
    font-size: 6px !important;
}
